:root {
    --md-primary-fg-color:        rgb(113, 172, 113);
    --md-accent-fg-color:        rgb(93, 216, 93);
    --md-primary-fg-color--light: rgb(181, 226, 181);
    --md-primary-fg-color--dark:  rgb(54, 78, 54);
    --code-bg: rgba(0, 0, 0, 0.8);
}

#main-logo-ei {
    width: 100px;
}

.md-footer, .md-footer-meta {
    background-color: rgb(19, 22, 17);
}

code {
    background-color: var(--code-bg) !important;
}

[data-md-color-scheme="default"] {
  --md-default-bg-color: rgb(206, 231, 206);
  --code-bg: rgba(255, 255, 255, 0.6);
}

[data-md-color-scheme="slate"] {
  --md-default-bg-color: rgb(10, 12, 10);
}

.hljs-keyword {
    color: var(--md-primary-fg-color);
    font-style: italic;
}

.hljs-string {
    color: #d14;
}

.hljs-number {
    color: #c92c2c;
}

.hljs-comment {
    color: #999;
    font-style: italic;
}

.hljs-function {
    color: #795da3;
    font-weight: bold;
}

.hljs-identifier {
    color: #2a7bde;
}

.hljs-operator {
    color: #8b7f7f;
    font-weight: bold;
}


.md-header__button.md-logo {
    margin: 2px;
    padding: 0;
}

.md-header__button.md-logo img {
    height: 2rem;
    width: 2rem;
}