[data-md-color-primary=custom]{
    --md-primary-fg-color: rgb(34, 39, 44);
    --md-primary-bg-color: rgb(126, 134, 142);
}

[data-md-color-accent=custom]{
    --md-accent-fg-color: #6d84a2;
}

.md-nav__item .md-nav__link--active, .md-nav__item .md-nav__link--active code, .md-typeset a
{
    --md-typeset-a-color: var(--md-primary-bg-color);
}

.hljs-string {
    color: #98C379; /* Light green */
}

.hljs-keyword {
    color: #56B6C2; /* Light blue */
}

.hljs-comment {
    color: #7F848E; /* Light gray */
}

.hljs-identifier {
    color: #D19A66; /* Light orange */
}

.hljs-function {
    color: #E5C07B; /* Light yellow */
}

.hljs-operator {
    color: #C678DD; /* Light purple */
}

.hljs-number {
    color: #B5CEA8; /* Light green */
}